@media all and (min-width:1280px) { 
    body {
        display : flex;
        justify-content: center;
        align-items : center;
    }

    #title {
        width: 100%;
        font-size: 80pt;
        color: #374D9A;
    }

    .contents {
        text-align: center;
    }
    
    #logo {
        float: left;
        margin-left: 200px;
        width: 250px;
    }

    .user_input {
        text-align: center;
        width: 100%;
    }

    .user_input input{
        text-align: center;
        border: none;
    }

    #name {
        width: 240px;
        font-size: 60pt;
    }

    #date {
        width: 300px;
        font-size: 20pt;
    }

    table {
        text-align: center;
    }
    
    .colorname {
        background-color: #374D9A;
        color: white;
        font-size: 24pt;
    }

    .color_result {
        margin-top: 60px;
        width: 100%;
    }

    .color_result img {
        width: 160px;
    }

    #submit {
        border: none;
        background-color: #e8eaf0;
        color: #374D9A;
        width: 1200px;
        height: 40px;
        border-radius: 10px;
        font-size: 18pt;
        margin-top: 20px;
    }

    #footer {
        margin-top: 30px;
        text-align: center;
        font-size: 11pt;
    }

    #notice {
        margin: -1pt;
    }

}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
    body {
        display : flex;
        justify-content: center;
        align-items : center;
    }

    #title {
        width: 100%;
        font-size: 80pt;
        color: #374D9A;
    }

    .contents {
        text-align: center;
    }
    
    #logo {
        float: left;
        margin-left: 200px;
        width: 250px;
    }

    .user_input {
        text-align: center;
        width: 100%;
    }

    .user_input input{
        text-align: center;
        border: none;
    }

    #name {
        width: 240px;
        font-size: 60pt;
    }

    #date {
        width: 300px;
        font-size: 20pt;
    }

    table {
        text-align: center;
    }
    
    .colorname {
        background-color: #374D9A;
        color: white;
        font-size: 24pt;
    }

    .color_result {
        margin-top: 60px;
        width: 100%;
    }

    .color_result img {
        width: 160px;
    }

    #submit {
        border: none;
        background-color: #e8eaf0;
        color: #374D9A;
        width: 1200px;
        height: 40px;
        border-radius: 10px;
        font-size: 18pt;
        margin-top: 20px;
    }

    #footer {
        margin-top: 30px;
        text-align: center;
        font-size: 11pt;
    }

    #notice {
        margin: -1pt;
    }

} 

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title {
        margin-top: -20px;
        font-size: 34pt;
        color: #374D9A;
    }

    .contents {
        text-align: center;
    }

    div {
        text-align: center;
    }
    
    #logo {
        margin-top: -30px;
        width: 230px;
    }

    table {
        margin-left:auto; 
        margin-right:auto;
    }

    .user_input {
        text-align: center;
    }

    .user_input input{
        text-align: center;
        border: none;
    }

    #name {
        width: 80px;
        font-size: 20pt;
    }

    #date {
        width: 150px;
    }

    table {
        text-align: center;
    }

    .result {
        font-size: 8pt;
        margin-top: 10px;
    }

    .result td {
        border: 1px solid;
        width: 68px;
        height: 30px;
    }
    
    .colorname {
        background-color: #374D9A;
        color: white;
    }

    .color_result {
        margin-top: 10px;
    }

    .color_result img {
        width: 70px;
    }

    #submit {
        border: none;
        background-color: #e8eaf0;
        color: #374D9A;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        font-size: 18pt;
    }

    #footer {
        margin-top: 20px;
        text-align: center;
        font-size: 6pt;
    }

    #notice {
        margin: -1pt;
    }
    
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    #title {
        font-size: 34pt;
        color: #374D9A;
    }

    .contents {
        text-align: center;
    }
    
    #logo {
        width: 100px;
        margin-left: 50px;
        float: left;
    }

    .user_input {
        text-align: center;
    }

    .user_input input{
        text-align: center;
        border: none;
    }

    #name {
        width: 200px;
        font-size: 30pt;
    }

    #date {
        width: 150px;
    }

    table {
        text-align: center;
    }

    .result {
        font-size: 8pt;
        margin-top: 10px;
        float: left;
    }

    .result td {
        border: 1px solid;
        width: 80px;
        height:50px;
    }

    .corename {
        background-color: #374D9A;
        color: white;
        font-size: 14pt;
    }
    
    .colorname {
        background-color: #374D9A;
        color: white;
    }

    .color_result {
        margin-top: 10px;
        margin-right: 20px;
        float: right;
    }

    .color_result img {
        width: 60px;
    }

    #submit {
        border: none;
        background-color: #e8eaf0;
        color: #374D9A;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        font-size: 18pt;
    }

    #footer {
        margin-top: 20px;
        text-align: center;
        font-size: 6pt;
    }

    #notice {
        margin: -1pt;
    }

} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title {
        margin-top: -20px;
        font-size: 34pt;
        color: #374D9A;
    }

    .contents {
        text-align: center;
    }

    div {
        text-align: center;
    }
    
    #logo {
        margin-top: -30px;
        width: 230px;
    }

    table {
        margin-left:auto; 
        margin-right:auto;
    }

    .user_input {
        text-align: center;
    }

    .user_input input{
        text-align: center;
        border: none;
    }

    #name {
        width: 120px;
        font-size: 20pt;
    }

    #date {
        width: 150px;
    }

    table {
        text-align: center;
    }

    .result {
        font-size: 8pt;
        margin-top: 10px;
    }

    .result td {
        border: 1px solid;
        width: 68px;
        height: 30px;
    }
    
    .colorname {
        background-color: #374D9A;
        color: white;
    }

    .color_result {
        margin-top: 10px;
    }

    .color_result img {
        width: 70px;
    }

    #submit {
        border: none;
        background-color: #e8eaf0;
        color: #374D9A;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        font-size: 18pt;
    }

    #footer {
        margin-top: 20px;
        text-align: center;
        font-size: 6pt;
    }

    #notice {
        margin: -1pt;
    }

}